<item>
		<title>{{{title}}}</title>
		<link>{{{link}}}</link>
		<pubDate>{{{date}}}</pubDate>
		<guid isPermaLink="false">{{{date}}}</guid>
		<description><![CDATA[{{{desc}}}]]></description>
		<itunes:author>{{{author}}}</itunes:author>
		<itunes:summary><![CDATA[{{{desc}}}]]></itunes:summary>
		<itunes:image href="{{{albumart}}}" />
		<image>
			<url>{{{albumart}}}</url>
		</image>
		<content:encoded><![CDATA[{{{desc}}}]]></content:encoded>
		<enclosure url="{{{media}}}" length="1" type="audio/mpeg" />
</item>